# NETWORK
endpoint_add_tcp "0.0.0.0:30160"
endpoint_add_udp "0.0.0.0:30160"

# DATABASE
set mysql_connection_string "mysql://root:rootpassword@localhost:30120/basecommu?charset=utf8mb4"
set mysql_ui false
set mysql_versioncheck 0

# SERVER
set steam_webApiKey ""
sv_licenseKey ""

sv_hostname "BaseCommunautaireToutFiveMFR"
sets sv_projectName "BaseCommunautaireToutFiveMFR"
sets sv_projectDesc "BaseCommunautaireToutFiveMFR"
sets tags "serieux, freeaccess, rp, roleplay, francais"
sv_maxclients 4

sv_enforceGameBuild 3095

sv_endpointPrivacy true


ensure core
